<ng-container *ngIf="electrodomesticos">
    <h1>Nombre: {{electrodomesticos.title}}</h1>
    <p>Precio: {{electrodomesticos.price}}</p>
  
   
    <div class="image-grid">
      <img *ngFor="let image of electrodomesticos.images" id="electrodomesticos" [src]="image" alt="electrodomesticos">
    </div>
  
    <p>Descripcion: 
      
      <input type="text" [(ngModel)]="electrodomesticos.descripcion" (ngModelChange)="guardarDescripcion()">
    </p>
    <p>{{electrodomesticos.descripcion}}</p>
  </ng-container>
  <ng-container *ngIf="!electrodomesticos">
    No existen electrodomesticos
  </ng-container>