<!--<ng-container *ngIf="productos">
    <h1 >Nombre: {{productos.title}}</h1>
    <p>Precio: {{productos.price}}</p>
    <img id="productos" src={{productos.images}} alt="Mi Producto">
    <p>Descripcion: <input type="text" [(ngModel)]="productos.descripcion" (ngModelChange)="guardarDescripcion()"></p>
    <p>{{productos.descripcion}}</p>
</ng-container>-->

<!--<ng-container *ngIf="productos">
    <h1>Nombre: {{productos.title}}</h1>
    <p>Precio: {{productos.price}}</p>-->

    <ng-container *ngIf="productos">
  <h1>Nombre: {{productos.title}}</h1>
  <p>Precio: {{productos.price}}</p>

 
  <div class="image-grid">
    <img *ngFor="let image of productos.images" id="productos" [src]="image" alt="Producto">
  </div>

  <p>Descripcion: 
    
    <input type="text" [(ngModel)]="productos.descripcion" (ngModelChange)="guardarDescripcion()">
  </p>
  <p>{{productos.descripcion}}</p>
</ng-container>
<ng-container *ngIf="!productos">
  No existen Productos
</ng-container>

  
    <!-- Contenedor para las imágenes -->
    <!--<div class="image-grid">
      <img *ngFor="let image of productos.images" id="productos" [src]="image" alt="Producto">
    </div>
  
    <p>Descripcion: 
      <input type="text" [(ngModel)]="productos.descripcion">
    </p>
    <p>{{productos.descripcion}}</p>
  </ng-container>-->


  
  
  
    
    