.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas para acomodar las imágenes */
  gap: 10px; /* Espacio entre imágenes */
}

#calsado {
  width: 300px;
  height: 300px;
}
